@model eLoan.Models.Profile

@{
    ViewData["Title"] = "Profile Details";
}

<h1>Details</h1>

<div>
    <h4>User Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profile_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.last_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.profile_id">Edit</a> |
    <a asp-action="Application/Create">Apply for Loan</a>
    <a asp-action="Loans/Index">View Loans</a>
</div>
